@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-primary {
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
  animation: moveInLeft 0.6s ease-in-out; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  background: linear-gradient(to right, #7ed56f, #27b485);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s;
  letter-spacing: 2px;
  text-align: center; }
  .heading-secondary:hover {
    transform: skewY(1deg) skewX(15deg); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1.75rem;
  animation: moveInRight 0.6s ease-in-out; }

.heading-s {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto; }

.mb-l {
  margin-bottom: 8rem; }

.mb-m {
  margin-bottom: 5rem; }

.mb-s {
  margin-bottom: 1.5rem; }

.center-text {
  text-align: center; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  transition: all 0.2s ease;
  border-radius: 5rem;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn--animate {
  animation: moveInBottom 0.5s ease-in-out 0.2s backwards; }

.btn--text:link, .btn--text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 0.3rem 1rem;
  transition: all 0.2s ease; }

.btn--text:hover {
  background: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn--text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    position: absolute;
    z-index: 1;
    transition: all 0.2s ease;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 3rem; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 2; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    background: linear-gradient(to right, #7ed56f, #27b485);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  grid-auto-rows: minmax(50rem, auto); }

.card {
  perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: #fff;
    height: 50rem;
    transition: all 0.6s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background: linear-gradient(to right bottom, #7ed56f, #27b485); }
      .card__side--back-3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: multiply;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("/img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #27b485), url("/img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("/img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    right: 2rem;
    top: 10rem;
    text-align: right; }
  .card__details {
    padding: 1.5rem; }
    .card__details ul {
      list-style: none;
      font-size: 1.6rem;
      text-align: center;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        padding: 1rem 0; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__back-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
  .card__price {
    color: #fff; }
    .card__price--only {
      font-size: 1.6rem; }
    .card__price--value {
      font-size: 5rem;
      font-weight: 100; }

.story {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: skewX(-7deg);
  margin-bottom: 8rem; }
  .story > * {
    transform: skewX(7deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    position: relative; }
    .story__shape--image {
      height: 100%;
      transition: all 0.2s ease;
      transform: scale(1.4); }
    .story__shape--caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%);
      opacity: 0;
      color: #fff;
      font-size: 1.8rem;
      text-align: center;
      transition: all 0.2s ease; }
  .story:hover .story__shape--image {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }
  .story:hover .story__shape--caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story__text {
    width: 82%; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.header {
  height: 95vh;
  color: #fff;
  background: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(39, 180, 133, 0.8)), url("/img/hero.jpg") center center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  .header__heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    height: 3.5rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -19vh; }
  .section-about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem; }

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(39, 180, 133, 0.8)), url("/img/nat-4.jpg") center center/cover no-repeat;
  transform: skewY(-6deg); }
  .section-features-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    transform: skewY(6deg); }

.section-tours {
  padding: 25rem 0 20rem;
  margin-top: -8rem;
  background: #f7f7f7; }

.section-stories {
  padding: 15rem 0;
  position: relative; }
