// Colors
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #27b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #333;

$color-black: #000;

// Fonts
$default-font-size: 1.6rem;
