.l-heading {
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
  animation: moveInLeft 0.6s ease-in-out;
}

.s-heading {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1.75rem;
  animation: moveInRight 0.6s ease-in-out;
  margin-bottom: 5rem;
}
