.container {
  max-width: 1200px;
  padding: 0 6rem;
  margin: 0 auto;
}

.mb-l {
  margin-bottom: 8rem;

  @include respond(phone) {
    margin-bottom: 4rem;
  }
}

.mb-m {
  margin-bottom: 5rem;
}

.mb-s {
  margin-bottom: 1.5rem;

  @include respond(phone) {
    margin-bottom: 0.5rem;
  }
}

.mt-m {
  margin-top: 5rem;
}

.center-text {
  text-align: center;
}
