.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

.mb-l {
  margin-bottom: 8rem;
}

.mb-m {
  margin-bottom: 5rem;
}

.mb-s {
  margin-bottom: 1.5rem;
}

.center-text {
  text-align: center;
}
