.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -19vh;

  @include respond(phone) {
    padding: 20rem 0;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background: linear-gradient(
      to right,
      rgba($color-green-light, 0.8),
      rgba($color-green-dark, 0.8)
    ),
    url('/img/nat-4.jpg') center center/cover no-repeat;
  transform: skewY(-6deg);

  @include respond(phone) {
    padding: 15rem 0;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    transform: skewY(6deg);

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
      row-gap: 5rem;
    }
  }
}

.section-tours {
  padding: 25rem 0 20rem;
  margin-top: -8rem;
  background: $color-grey-light-1;

  @include respond(phone) {
    padding: 15rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(phone) {
    padding: 10rem 0;
  }
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-green-light,
    $color-green-dark
  );

  @include respond(phone) {
    padding: 12rem 0;
  }
}

.book {
  background: linear-gradient(
      105deg,
      rgba(white, 0.9) 0%,
      rgba(white, 0.9) 50%,
      transparent 50%
    ),
    url(/img/nat-10.jpg) center center/cover no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

  @include respond(tab-land) {
    background: linear-gradient(
        105deg,
        rgba(white, 0.9) 0%,
        rgba(white, 0.9) 70%,
        transparent 70%
      ),
      url(/img/nat-10.jpg) center center/cover no-repeat;
    background-size: cover;
  }

  @include respond(tab-port) {
    background: linear-gradient(
        to right,
        rgba(white, 0.9) 0%,
        rgba(white, 0.9) 100%
      ),
      url(/img/nat-10.jpg) center center/cover no-repeat;
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(tab-land) {
      padding: 3rem;
    }
  }
}
