.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -19vh;

  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background: linear-gradient(
      to right,
      rgba($color-green-light, 0.8),
      rgba($color-green-dark, 0.8)
    ),
    url('/img/nat-4.jpg') center center/cover no-repeat;
  transform: skewY(-7deg);

  &-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    transform: skewY(7deg);
  }
}
