.section-goo {
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    $color-green-light,
    $color-green-dark
  );
}

.goo {
  font-size: 20rem;

  @include respond(phone) {
    font-size: 10rem;
  }
}
